@import "../styles/colors.scss";


.home-wrapper{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-canva-wrapper{
        position: relative;
        width: 75%;
        height: 75%;
        // background-color: $secondaryWhite !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                
        .sign-canvas{
            width: 100%;
            height: 100%;
        }

        .color-palette-btn{
            position: absolute;
            top: 0;
            left: -45px;
        }
    
        .color-palette-wrapper{
            position: absolute;
            top: 0;
            left: 0px;
        }

        .controls-btn{
            position: absolute;
            left: 0;
            bottom: -50px;
        }
    }
    
}